{% extends 'SmirikCourseBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'admin.lesson.edit.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ entity.title }} <small>{{ 'admin.lesson.edit.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

{% include 'SmirikCourseBundle:Admin/Lesson:form.html.twig' with {'form': edit_form, 'delete_form': delete_form} %}

{% endblock %}
